.menu-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.menu-card:hover {
    transform: translateY(-8px) scale(1.05); /* Se eleva y hace un leve zoom */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}